
/*@font-face {
  font-family: 'Milonga';
  font-style: normal;
  font-weight: 400;
  src: local('Milonga'), local('Milonga-Regular'), url(http://themes.googleusercontent.com/static/fonts/milonga/v1/noGJ-3oku4DT1LXm2ra4VQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}*/
@font-face{
	font-family: "avouch";
	font-weight: 800;
	font-size: 18px;
	src:url(../font/font1.woff) format('woff');
} 
*{
	font-family: "avouch";
}

body{
	background-image: url(../img/back.png);
	background-color: #f4f3f2;
	margin: 0px;
	padding: 0px;
}
header{
	background-color: #295c8f;
	height: 70px;
}
.cmp-name{
	display: inline-block;
	color: #f4f3f2;
	margin-left: 20px;
}
.choice{
	float: right;
	position: relative;
	top: 10px;
}
.choice .option{
	display: inline-block;
	position: relative;
}
.choice button{
	margin: 0px 20px;
}
.option:nth-child(3) .dropdown-menu{
	left: -75px;
	padding: 5px 10px;
}
.option:nth-child(3) .dropdown-menu{
	background-color: #0081c2;
}
.option .dropdown-menu input{
	margin: 0;
}
#sale{
	width: 900px;
	margin: auto;
	min-height: 300px;
	margin-top: 25px;;
	-o-border-radius: 5px;
}
.well{
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
	-ms-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="search"],
input[type="number"]{
	padding: 4px 5px;
	height: auto;
}
textarea{
	resize:none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus{
	background-color: #ededed;
}
.well .block{
	border-left: 1px solid rgba(0,0,0,0);
	border-right: 1px solid rgba(0,0,0,0);
	border-top: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0.12);
	cursor: pointer;
	padding-top: 10px;
	transition-duration:1.2s;
}
.well .block:hover{
	border-left: 1px solid rgba(0,0,0,0.12);
	border-right: 1px solid rgba(0,0,0,0.12);
	background-color: rgba(0,0,0,0.1);
	transition-duration:1.2s;
}
.well .block:last-child{
	border: 1px solid rgba(0,0,0,0);
}
.well .block:last-child:hover{
	border: 1px solid rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	cursor: auto;
	transition-duration:1.2s;
}
.well .block label,.well table tr td:first-child{
	display: inline-block;
	height: 40px;
	text-align: left;
	padding-left: 20px;
	width: 130px;
	color: #222;
	font-weight: bold;
}
.well .block .tab-right{
	float: right;
}
.well .block .total{

}
.well hr{
	border-top: 1px solid #A08989;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 0px;
}
.well table td{
	text-align: center;
	padding-left: 30px;
}
.well table tr:first-child{
	padding-bottom: 8px;
	height: 40px;
}
